#banner-home-blog{
    
    .slick-dotted.slick-slider {
        margin: 0 !important;
    }
    .carrossel-banner-blog {
        max-width: 100%;

        .slick-list {
            padding: 0 !important;
        }

        .slick-dots{
            bottom: 94px;
        }

        .slick-dots li button:before{
            color: transparent;
            font-size: 58px;
            border: 2px solid #fff;
            border-radius: 100%;
            height: 15px;
            width: 15px;
            line-height: 11px;
            display: flex;
            justify-content: center;
        }

        .slick-dots li.slick-active button:before{
            color: #fff;
            opacity: 1;
        }
        
        .caixa-banners {
            position: relative;
            margin-top: 4rem;

            .mobile{
                display: none;
            }
            img {
                width: 100%;
                height: 516px;
            }

            &::before{
                content:'';
                position:absolute;
                top:0;
                bottom:0;
                left:0;
                right:0;
                background-color:rgba(0,0,0,.5);
            }

            .titulo-ban-blog {
                position: absolute;
                top: 150px;
                left: 100px;
                color: $amarelo-alba;
                text-transform: uppercase;


                a{
                    color: $amarelo-alba;
                    text-transform: uppercase;
                    text-decoration: none;
                }
            }

            .titulo-grande-blog {
                position: absolute;
                top: 170px;
                left: 90px;
                font-size: 70px;
                color: #FFF;
                line-height: 70px;
                text-transform: uppercase;
                max-width: 830px;
                font-weight: 100;

                span{
                    font-weight: 500;
                }
            }

            a.btn-leia-agora {
                position: absolute;
                bottom: 85px;
                left: 90px;
                width: 182px;
                height: 47px;
                border: 0;
                border-radius: 5px;
                color: $verde-alba;
                background-color: $amarelo-alba;
                text-decoration: none;
                display: flex;
                justify-content: center;
                align-items: center;
                text-transform: uppercase;

                i{
                    margin-left: 1rem;
                }
            }
        }
    }
    .tip-bar {
        background-color: $verde-alba;

        .area-texto {
            height: 70px;
            align-items: center;

            ul {

                list-style: none;
                display: flex;
                justify-content: space-between;
                padding: 15px;
                margin: 0;

                li {
                    margin-top: 5px;
                    position: relative;
                }

                li.active:before {
                    content: '';
                    position: absolute;
                    width: 35px;
                    height: 30px;
                    left: -25px;
                    background-color: $verde-alba;
                }
    
                li.active:after {
                    content: '';
                    position: absolute;
                    width: 35px;
                    height: 30px;
                    right: -25px;
                    background-color: $verde-alba;
                }    

                li.active {
                    border-bottom: 2px solid $amarelo-alba;

                    .fas.fa-angle-down {
                        display: none;
                    }
                }

                li>a {
                    text-decoration: none;
                    font-size: 14px;
                    margin: 0 10px;
                    color: $amarelo-alba;
                    font-weight: bold;
                }
            }

            .todos {
                display: none;
            }

            #pesquisa {
                display: none;
             }

             #search-bar {
                 display: none;
             }

             .btn-search {
                 display: none;
             }
        }
    }
}

#conteudo-blog {
    .container {
        max-width: 95%;
    
            .artigos-blog {
                .caixa-artigo {
                    margin-top: 3rem;
                    margin-bottom: 3rem;
                    width: 100%;

                    .mobile {
                        display: none;
                    }
                    
                    h1 {
                        font-size: 40px;
                        font-weight: bold;
                        color: $verde-alba;
                        text-transform: uppercase;

                        span{
                            position: relative;
                            &::before {
                                content: '';
                                position: absolute;
                                width: 100%;
                                height: 4px;
                                background: $amarelo-alba;
                                bottom: 0;
                            }
                            
                        }
                    
                      
                    }

                    .data-postagem {
                        font-size: 22px;
                        font-weight: 300;
                        width: 100%;
                        margin-bottom: 3rem;
                    }

                    p {
                        font-size: 18px;
                        color: $cinza-alba;
                        line-height: 150%;
                        max-width: 1080px;
                    }
                
                .caixa-img {
                    margin-top: 4rem;
                    width: 100%;
                    .img-postagem {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    .caixa-botao {
        margin: 60px 0 0 0;
        .btn-vermais {
            border: 0;
            border-radius: 5px;
            background-color: $amarelo-alba;
            color: $verde-alba;
            font-size: 14px;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 700;
            padding: 15px 50px;
        }
    }
    
   

    .more-link{
        width: 164px;
        height: 40px;
        border: 0;
        border-radius: 5px;
        background-color: $amarelo-alba;
        color: $verde-alba;
        font-size: 14px;
        padding: 15px 50px;
        text-decoration: none;
        text-transform: uppercase;
    }
  }
}

@media screen and(min-width: 1441px){
    #conteudo-blog .container{
        max-width: 55%;
    }
    #banner-home-blog .carrossel-banner-blog .caixa-banners .titulo-ban-blog{
        top: 180px;
        left: 430px;

        a{
            font-size: 19px;
        }
    }
    #banner-home-blog .carrossel-banner-blog .caixa-banners .titulo-grande-blog{
        top: 230px;
        max-width: 830px;
        left: 430px;
    }
    #banner-home-blog .carrossel-banner-blog .caixa-banners a.btn-leia-agora{
        left: 430px;
        cursor: pointer;
    }
    #banner-home-blog .carrossel-banner-blog .caixa-banners img{
        height: 516px;
        margin-top: 4rem;
    }
    #banner-home-blog .tip-bar .area-texto ul{
        justify-content: center;
    }
    #banner-home-blog .tip-bar .area-texto ul li{
        margin: 5px 2.5rem;
    }

    #banner-home-blog .carrossel-banner-blog .caixa-banners{
        margin-top: 0;
    }
}

@media only screen and (max-width: 767px) {

    #banner-home-blog .carrossel-banner-blog .caixa-banners{
        margin-top: 0;
    }

    #banner-home-blog {
        padding-top: 75px;

        .carrossel-banner-blog {

            .slick-dots{
                bottom: 16px;
            }
    
            .slick-dots li button:before{
                color: transparent;
                font-size: 43px;
                border: 1px solid #fff;
                border-radius: 100%;
                height: 11px;
                width: 11px;
                line-height: 8px;
                display: flex;
                justify-content: center;
            }
    
            .slick-dots li.slick-active button:before{
                color: #fff;
                opacity: 1;
            }


            .caixa-banners {

                .desk{
                    display: none;
                }
    
                .mobile{
                    display: block;
                    width: 100%;
                    height: 310px;
                }
                
                .titulo-ban-blog {
                    position: absolute;
                    top: 100px;
                    left: 18px;
                    color: #FFD45E;
                    font-size: 24px;
                }

                .titulo-grande-blog {
                    position: absolute;
                    top: 135px;
                    left: 18px;
                    font-size: 30px;
                    color: #FFF;
                    line-height: 30px;
                    max-width: 342px;
                    text-transform: none!important;
                    letter-spacing: 1.5px;
                    font-weight: 300;

                    span{
                        font-weight: 700;
                    }
                }

                a.btn-leia-agora {
                    position: absolute;
                    bottom: 52px!important;
                    left: 20px!important;
                    display: flex;
                    justify-content: space-around;
                    width: 209.78px;
                    font-weight: 700;
                    height: 44px!important;
                    font-size: 1rem;
                    border: 0;
                    border-radius: 5px;
                    color: #00808F;
                    background-color: #FFD45E;
                    font-size: 14px;                 }
            }
        }

        .tip-bar {

            .area-texto {

                position: relative;

                    .todos {
                        display: block;
                        position: absolute;
                        top: 20px;
                        left: 20px;
                        color: $amarelo-alba;
                        font-weight: bold;
                        border-bottom: 3px solid $amarelo-alba;

                        .fas.fa-angle-down {
                            display: inline-block;
                        }
                    }

                ul {
                    display: none;
                }
                
                ul.mob {
                    position: absolute;
                    left: 0;
                    top: 50px;
                    display: flex;
                    flex-direction: column;
                    background-color: #fff;
                    width: 100%;
                    z-index: 3;

                    li.active:before, li.active:after {
                        display: none;
                    }

                    li>a {
                        color: $verde-alba;
                    }

                    li.active {
                        border: none;
                    }
                }

                #pesquisa {
                    display: block;
                    position: absolute;
                    top: 25px;
                    right: -30px;
                    width: 50%;
                }

                #search-bar {
                    display: block !important;
                    float: left;
                    width: 70%;
                    background: transparent;
                    border: 1px solid $amarelo-alba;
                    border-radius: 5px;
                    text-indent: 10px;
                }

                .btn-search {
                    display: block;
                    background: transparent;
                    border: none;
                    color: $amarelo-alba;
                    position: absolute;
                    top: 2px;
                    right: 60px;
                }
            }
        }
    }

    #conteudo-blog {

        .container {

            .artigos-blog {

                .caixa-artigo {

                    h1 {
                        font-size: 30px;
                        text-align: center;
                        max-width: 310px;
                        margin: 1rem auto;

                        span{
                            position: relative;
                            &::before {
                                content: '';
                                position: absolute;
                                width: 79%;
                                height: 4px;
                                left: 30px;
                                background: $amarelo-alba;
                                bottom: -4px;
                            }
                            
                        }
                    }

                    h1.mobile {
                        display: block;
                        
                    }


                    .data-postagem {
                        font-size: 12px;
                        font-weight: 500;
                    }

                    p {
                        font-size: 14px;
                    }

                    .caixa-img {
                        display: none;
                    }
                }
            }

            .caixa-botao {
                margin: 25px 0;
                text-align: center;
            }
        }
    }

}