#banner-principal-blog {
    .cx-banner {
        padding: 60px 0 0;

        img {
            width: 100%;
            height: 338px;
        }
    }

    .tip-bar {
        background-color: $verde-alba;

        .area-texto {
            display: flex;
            justify-content: center;
            height: 70px;
            align-items: center;

            p {
                margin-top: 5px;
                position: relative;
            }

            p.active:before {
                content: '';
                position: absolute;
                width: 15px;
                height: 30px;
                left: -5px;
                background-color: $verde-alba;
            }

            p.active:after {
                content: '';
                position: absolute;
                width: 15px;
                height: 30px;
                right: -5px;
                background-color: $verde-alba;
            }

            p>a {
                text-decoration: none;
                font-size: 14px;
                margin: 0 10px;
                color: $amarelo-alba;
                font-weight: bold;
            }

            p.active {
                border-bottom: 2px solid $amarelo-alba;
            }
        }
    }
}

#importancia {
    padding-top: 50px;
    
    .container {
        max-width: 95%;

        .titulo-blog {
            font-size: 40px;
            font-weight: bold;
            color: $verde-alba;
            position: relative;
        }

        .titulo-blog::before {
            content: '';
            position: absolute;
            width: 785px;
            background: $amarelo-alba;
            height: 5px;
            bottom: -5px;
        }

        .texto-blog {
            color: $cinza-alba;
        }

        .data-blog {
            font-size: 22px;
            color: $cinza-alba;
            font-weight:300;
        }

        .nome-blog {
            font-size: 16px;
            color: $amarelo-alba;
            font-weight: 600;
        }

        .caixa-tags {
            padding: 20px;
            height: 350px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px $cinza-alba;

            #busca-tag {
                #barra-busca {
                    float: left;
                    display: block;
                    border: 2px solid $amarelo-alba;
                    border-radius: 5px;
                    height: 30px;
                    width: 100%;
                    text-indent: 10px;
                }

                .btn-busca {
                    float: left;
                    background: transparent;
                    border: 0;
                    position: absolute;
                    right: 50px;
                    top: 27px;
                    color: $amarelo-alba;
                    }
                }

                .caixa-links {
                    margin-top: 50px;
                    display: inline-flex;
                    flex-wrap: wrap;
                    align-items: baseline;

                    .tag-blog {
                        color: $verde-alba;
                        font-size: 22px;
                        font-weight: 300;
                        margin: 0;
                    }

                    .s-tags>a {
                        text-decoration: underline;
                        color: $cinza-alba;
                        margin: 5px 10px;
                    }
                }

                .veja-tbm {
                    margin-top: 40px;

                    .titulo-veja {
                        color: $verde-alba;
                        font-weight: bold;
                        margin: 0;
                    }

                    .link-veja>a {
                        font-size: 12px;
                        color: $cinza-alba;
                        text-decoration: underline;
                    }
                }
            }
            .btn-cont-lendo {
                height: 40px;
                width: 262px;
                border: 0;
                border-radius: 5px;
                background-color: $amarelo-alba;
                color: $verde-alba;
            }
        }
    }
#banner-miolo.show {
    height: auto;
    overflow: visible;
    opacity: 1;
    transition: all .5s;
}
#maneira-geral.show {
    height: auto;
    overflow: visible;
    opacity: 1;
    transition: all .5s;
}

#banner-miolo {
    position: relative;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all .5s;
    margin: 30px 0;

    img {
        width: 100%;
    }

    .bg-miolo {
        position: absolute;
        top: 0;
        right: 115px;
        width: 494px;
        height: 520px;
    }

    .texto-miolo {
        position: absolute;
        top: 60px;
        right: 140px;
        font-size: 40px;
        color: #fff;

        .asp1 {
            color: #FFD45E;
            position: absolute;
            top: -30px;
            left: 0;
            font-size:100px;
        }
        
        .asp2 {
            color: #FFD45E;
            position: absolute;
            bottom: -120px;
            right: 110px;
            font-size: 100px;
        }
    }
}
#maneira-geral {

    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all .5s;
    padding-top: 50px;
    
    .btn-cont-lendo {
        height: 40px;
        width: 262px;
        border: 0;
        border-radius: 5px;
        background-color: $amarelo-alba;
        color: $verde-alba;
    }

    .container {
        max-width: 90%;
        margin: 0 auto;
        padding: 0;

        .texto-blog {
            width: 100%;
        }

        .post-relacionados {
            
            max-width: 100%;
            padding: 30px 0;
            justify-content: space-between;
        
                h5 {
                    color: $verde-alba;
                    width: 100%;
                    margin: 0 0 30px;
                    font-size: 22px;
                    font-weight: 300;
                }
        
            .card {
                border-radius: 15px !important;
                width: 19.2475rem;
                position: relative;
                border: none;
                box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
        
                .text-card {
                  position: absolute;
                  font-size: 0.75rem;
                  color: $verde-alba;
                  top: 6px;
                  left: 7px;
                  max-width: 30px;
                  text-align: center;
                  line-height: 120%;
                  text-transform: uppercase;
        
                  span {
                    font-weight: 900;
                  }
                }
        
                &::before {
                  content: "";
                  width: 47px;
                  height: 42px;
                  background-color: #ffffff;
                  position: absolute;
                  border-top-left-radius: 15px;
                  border-bottom-right-radius: 15px;
                }
        
                .card-body {
                  text-align: center;
                  min-height: 7.265rem;
        
                    .card-text {
                        font-size: 1rem;
                        color: $cinza-alba;
                        font-weight: 500;
                    }
                }
            }

            .caixa-botoes-blog {
                margin-top: 60px;
                margin-bottom: 30px;
                width: 100%;

                .btn-voltar {
                    background-color: $amarelo-alba;
                    border: 0;
                    border-radius: 5px;
                    padding: 10px;
                    height: 39px;
                    width: 155px;
                    margin: 0 20px 0 0;
                    color: $verde-alba;
                }

                .btn-conheca {
                    background-color: $amarelo-alba;
                    border: 0;
                    border-radius: 5px;
                    padding:10px;
                    heigth: 39px;
                    width: 365px;
                    margin: 0 0 0 20px;
                    color: $verde-alba;
                }
            }
        }
    }
}