#banner-principal-blog {
  .cx-banner {
    padding: 55px 0 0;

    .desktop {
      display: block;
      width: 100%;
      height: 516px;
    }

    .mobile {
      display: none;
    }
  }

  .tip-bar {
    background-color: $verde-alba;

    .area-texto {
      height: 70px;
      align-items: center;

      ul {
        list-style: none;
        display: flex;
        justify-content: center;
        padding: 15px;
        margin: 0;

        li {
          margin-top: 5px;
          position: relative;
        }

        li.active:before {
          content: "";
          position: absolute;
          width: 15px;
          height: 30px;
          left: -5px;
          background-color: $verde-alba;
        }

        li.active:after {
          content: "";
          position: absolute;
          width: 35px;
          height: 30px;
          right: -25px;
          background-color: $verde-alba;
        }

        li.active {
          border-bottom: 2px solid $amarelo-alba;

          .fas.fa-angle-down {
            display: none;
          }
        }

        li > a {
          text-decoration: none;
          font-size: 14px;
          margin: 0 10px;
          color: $amarelo-alba;
          font-weight: bold;
        }
      }

      .todos {
        display: none;
      }

      #pesquisa {
        display: none;
      }

      #search-bar {
        display: none;
      }

      .btn-search {
        display: none;
      }
    }
  }
}

#importancia {
  padding-top: 50px;

  .container {
    max-width: 88%;

    .titulo-blog {
      font-size: 40px;
      font-weight: bold;
      color: $verde-alba;
      text-transform: uppercase;
      
      span{
        position: relative;

        &::before {
          content: "";
          position: absolute;
          width: 100%;
          background: $amarelo-alba;
          height: 5px;
          bottom: -5px;
        }
      }
      
    }

    p{
      color: $cinza-alba;
      max-width: 782px;
      line-height: 150%;
      font-size: 18px;
    }

    .data-blog {
      font-size: 22px;
      color: $cinza-alba;
      font-weight: 300;
      margin-top: 2rem;
    }

    .nome-blog {
      font-size: 16px;
      color: $amarelo-alba;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 2rem;
    }

    .caixa-tags {
      padding: 20px;
      width: 305px;
      height: 350px;
      border-radius: 10px;
      box-shadow: 0px 0px 10px $cinza-alba;

      #busca-tag {
        #barra-busca {
          float: left;
          display: block;
          border: 2px solid $amarelo-alba;
          border-radius: 5px;
          height: 30px;
          width: 100%;
          text-indent: 10px;
        }

        .btn-busca {
          float: left;
          background: transparent;
          border: 0;
          position: absolute;
          right: -10px;
          top: 27px;
          color: $amarelo-alba;
        }
      }

      .caixa-links {
        margin-top: 50px;
        display: inline-flex;
        flex-wrap: wrap;
        align-items: baseline;

        .tag-blog {
          color: $verde-alba;
          font-size: 22px;
          font-weight: 300;
          margin: 0;
        }

        .s-tags > a {
          text-decoration: underline;
          color: $cinza-alba;
          margin: 5px 10px;
        }
      }

      .veja-tbm {
        margin-top: 40px;

        .titulo-veja {
          color: $verde-alba;
          font-weight: bold;
          margin: 0;
        }

        .link-veja > a {
          font-size: 12px;
          color: $cinza-alba;
          text-decoration: underline;
        }
      }
    }
    .btn-cont-lendo {
      height: 40px;
      width: 262px;
      border: 0;
      border-radius: 5px;
      background-color: $amarelo-alba;
      color: $verde-alba;
    }
  }
  
}

#banner-miolo{
  width: 100%;

  .banners{

    .mobile{
      display: none!important;
    }
  }

  .container{
    max-width: 85%;

    p{
      color: $cinza-alba;
      font-size: 1.125rem;
      margin-top: 1.5rem;
      margin-bottom: 1rem;
    }
  }
  
}

#posts{
  width: 100%;
  margin-top: 2rem;

  .container{
    max-width: 87%;

    h5{
      color: $verde-alba;
      font-weight: 700;
      font-size: 1.375rem;
    }
  }

  .session-posts{

    .carrousel-single{

      .slick-initialized,
      .slick-slide {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }

      .card {
        border-radius: 15px !important;
        width: 19.2475rem;
        position: relative;
        border: none;
        box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
         
        
        a{
          text-decoration: none;

          .card-img-top{
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            min-height: 247px;
          }
  
          .text-card {
            position: absolute;
            font-size: 0.75rem;
            color: $verde-alba;
            top: 6px;
            left: 7px;
            max-width: 30px;
            text-align: center;
            line-height: 120%;
            text-transform: uppercase;
  
            span {
              font-weight: 900;
            }
          }
  
          &::before {
            content: "";
            width: 47px;
            height: 42px;
            background-color: #ffffff;
            position: absolute;
            border-top-left-radius: 15px;
            border-bottom-right-radius: 15px;
          }
  
          .card-body {
            text-align: center;
            min-height: 7.265rem;
  
            .card-text {
              font-size: 1rem;
              color: $cinza-alba;
              font-weight: 500;
            }
          }
        }
      }
    }
  }

  .buttons-posts{
    display: flex;
    margin-top: 4rem;
    margin-bottom: 5rem;
    flex-wrap: wrap;
    
    a.btn-voltar{
      background-color: $amarelo-alba;
      text-decoration: none;
      color: $verde-alba;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin-right: 3rem;
      width: 158.23px;
      height: 39.16px;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 0.875rem;
      border-radius: 4px;
      box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
      letter-spacing: 3px;
    }

    a.btn-conheca{
      background-color: $amarelo-alba;
      text-decoration: none;
      color: $verde-alba;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin-right: 3rem;
      width: 356px;
      height: 39.16px;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 0.875rem;
      border-radius: 4px;
      box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
      letter-spacing: 2.5px;;
    }
  }
}


@media screen and(min-width: 1441px){
  
  #banner-principal-blog .cx-banner{
    padding: 55px 0 0;
  }

  #banner-principal-blog .cx-banner .desktop{
    height: 516px;
  }

  #importancia .container{
    max-width: 58%;
  }

  #banner-miolo .banners .desk{
    width: 1920px;
  }

  #banner-miolo .container{
    max-width: 55%;
  }

  #posts .container{
    max-width: 56%;
  }

  #posts .session-posts .carrousel-single .slick-slide .slick-current .slick-active{
    width: 370px!important;
  }
  
}

@media screen and(min-width: 1281px) and (max-width: 1440px){
  #banner-miolo .banners .desk{
    width: 1420px;
  }
  #importancia .container .caixa-tags #busca-tag .btn-busca{
    right: 15px;
  }
}

@media only screen and (max-width: 767px) {
  #banner-principal-blog {
    .cx-banner {
      .mobile {
        display: block;
        height: 310px;
      }

      .desktop {
        display: none;
      }
    }

    .tip-bar {
      .area-texto {
        position: relative;

        .todos {
          display: block;
          position: absolute;
          top: 20px;
          left: 20px;
          color: $amarelo-alba;
          font-weight: bold;
          font-size: 10px;
          border-bottom: 3px solid $amarelo-alba;

          .fas.fa-angle-down {
            display: inline-block;
          }
        }

        ul {
          display: none;
        }

        ul.mob {
          position: absolute;
          left: 0;
          top: 50px;
          display: flex;
          flex-direction: column;
          background-color: #fff;
          width: 100%;
          z-index: 3;

          li.active:before,
          li.active:after {
            display: none;
          }

          li > a {
            color: $verde-alba;
          }

          li.active {
            border: none;
          }
        }

        #pesquisa {
          display: block;
          position: absolute;
          top: 25px;
          right: -30px;
          width: 50%;
        }

        #search-bar {
          display: block !important;
          float: left;
          width: 70%;
          background: transparent;
          border: 1px solid $amarelo-alba;
          border-radius: 5px;
          text-indent: 10px;
        }

        .btn-search {
          display: block;
          background: transparent;
          border: none;
          color: $amarelo-alba;
          position: absolute;
          top: 2px;
          right: 60px;
        }
      }
    }
  }

  #importancia {
    padding-top: 50px;

    .container {
      max-width: 95%;

      .titulo-blog {
        font-size: 1.875rem;
        text-align: center;
        max-width: 310px;
        text-transform: initial;

        span{

          &::before{
            width: 80%;
            left: 25px;
          }
        }
      }

      .texto-blog {
        color: $cinza-alba;
      }

      .data-blog {
        font-size: 12px;
      }

      .nome-blog {
        font-size: 12px;
      }

      .caixa-tags {
        display: none;
      }
      .btn-cont-lendo {
        height: 40px;
        width: 262px;
        border: 0;
        border-radius: 5px;
        background-color: $amarelo-alba;
        color: $verde-alba;
      }
    }
  }
  
  #importancia .container p{
    font-size: 0.875rem;
  }

  #banner-miolo .container p{
    font-size: 0.875rem;
  }

  #posts{
    margin-top: 12rem;
    margin-left: auto;
    margin-right: auto;
  }

  #posts .container h5{
    text-align: center;
    position: relative;

    &::before{
      content: '';
      position: absolute;
      width: 50%;
      left: 70px;
      background-color: $amarelo-alba;
      height: 4px;
      bottom: -5px;
    }
  }

  #posts .buttons-posts{
    justify-content: center;
    margin: -42rem auto 0 auto;
    align-items: center;
    position: absolute;
  }
  #posts .session-posts .carrousel-single .card{
    margin: 1rem .5rem;
  }

  #posts .buttons-posts a.btn-voltar{
    margin: 0 0 0 -2rem;
  }

  #posts .buttons-posts a.btn-conheca{
    margin: 2rem 0 1rem .5rem;
    width: 257.53px;
    justify-content: center;
    height: 56px;
    max-width: 80%;
    text-align: center;
  }
}
