header {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;

  .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
  }

  .navbar {
    font-size: 1.25rem;
    background: #ffffff;
    padding: 0.5rem 0;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);

    .menu {
      display: none;
    }

    .navbar-brand{
      margin-left: 1.7rem;
    }

    .navbar-nav {
      align-items: center;

      li {
        position: relative;
        display: flex;
        justify-content: center;

        .active {
          &::before {
            content: "";
            position: absolute;
            width: 70%;
            height: 4px;
            bottom: 5px;
            text-align: center;
            background-color: $amarelo-alba;
          }
        }
      }

      .nav-link {
        position: relative;
        color: $verde-alba;
        font-weight: bold;
        margin: 0 1.5rem;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 0.875rem;
      }

      a {
        text-decoration: none;
        margin-left: 1.5rem;
        .btn-orcamento {
          background-color: $verde-alba;
          color: #ffffff;
          width: 10.28125rem;
          height: 2.51rem;
          border-radius: 3px;
          border: none;
          text-transform: uppercase;
          font-size: 0.875rem;
          font-weight: bold;
          letter-spacing: 3px;
          box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.5);
        }
      }
    }
  }
}

    #menu-principal {
        position: relative;
    }

    .menu {
        display: none;
    }

    .hamburguer {
        position: relative;
        display: block;
        background: $verde-alba;
        width: 30px;
        height: 2px;
        top: 29px;
        left: 15px;
        transition: .5s ease-in-out;
    }

    .hamburguer:before,
    .hamburguer:after {
        background: $verde-alba;
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        transition: .5s ease-in-out;
    }

    .hamburguer:before {
        top: -10px;
    }

    .hamburguer:after {
        bottom: -10px;
    }

    input {
        display: none;
    }

    input:checked ~ label .hamburguer {
        transform: rotate(45deg);
    }

    input:checked ~ label .hamburguer:before {
        transform: rotate(90deg);
        top: 0;
    }

    input:checked ~ label .hamburguer:after {
        transform: rotate(90deg);
        bottom: 0;
    }

@media only screen and (max-width: 768px) {

  .menu {
    display: block !important;
    background: #fff;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 5px;
    right: 10px;
  }

  .cx-itens {
    position: absolute;
    z-index: -1;
    min-height: 20px;
    top: 60px;
    text-align: center;
    right: -100%;
    transition: all .5s;
  }
  
  .cx-itens.show {
    position: absolute;
    background-color: #fff;
    top: 74px;
    width: 100%;
    min-height: 400px;
    z-index: -1;
    text-align: center;
    right: 0;
    opacity: .9;
  }
}