header {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;

  .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
  }

  .navbar {
    font-size: 1.25rem;
    background: #ffffff;
    padding: 0.5rem 0;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);

    .menu {
      display: none;
    }

    .navbar-brand {
      margin-left: 1.7rem;
    }

    .navbar-nav {
      align-items: center;

      li {
        position: relative;
        display: flex;
        justify-content: center;
      }

      li:nth-child(1).active {
        &::before {
          content: "";
          width: 46%;
          left: 26%;
          position: absolute;
          height: 4px;
          bottom: 5px;
          background-color: $amarelo-alba;
          animation: active 0.7s ease-in;

          @keyframes active {
            0% {
              width: 0%;
            }
            100% {
              width: 46%;
            }
          }
        }
      }

      li:nth-child(2).active {
        &::before {
          content: "";
          width: 52%;
          left: 23%;
          position: absolute;
          height: 4px;
          bottom: 5px;
          background-color: $amarelo-alba;
          animation: active 0.7s ease-in;

          @keyframes active {
            0% {
              width: 0%;
            }
            100% {
              width: 52%;
            }
          }
        }
      }

      li:nth-child(3).active {
        &::before {
          content: "";
          width: 64%;
          left: 17%;
          position: absolute;
          height: 4px;
          bottom: 5px;
          background-color: $amarelo-alba;
          animation: active 0.7s ease-in;

          @keyframes active {
            0% {
              width: 0%;
            }
            100% {
              width: 64%;
            }
          }
        }
      }

      li:nth-child(4).active {
        &::before {
          content: "";
          width: 44%;
          left: 27%;
          position: absolute;
          height: 4px;
          bottom: 5px;
          background-color: $amarelo-alba;
          animation: active 0.7s ease-in;

          @keyframes active {
            0% {
              width: 0%;
            }
            100% {
              width: 44%;
            }
          }
        }
      }

      .nav-link {
        position: relative;
        color: $verde-alba;
        font-weight: bold;
        margin: 0 1.5rem;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 0.875rem;
      }

      .dropdown-menu {
        left: 29px;
      }

      .dropdown:hover .dropdown-menu {
        display: block;
      }

      .dropdown-item {
        position: relative;
        color: $verde-alba;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 0.875rem;
        margin: 0;
      }

      a {
        text-decoration: none;
        margin-left: 1.5rem;
        .btn-orcamento {
          background-color: $verde-alba;
          color: #ffffff;
          width: 10.28125rem;
          height: 2.51rem;
          border-radius: 3px;
          border: none;
          text-transform: uppercase;
          font-size: 0.875rem;
          font-weight: bold;
          letter-spacing: 3px;
          box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.5);
        }
      }
      .icones{
        display: none;
      }
    }
  }
}

#menu-principal {
  position: relative;
}

.menu {
  display: none;
}

.hamburguer {
  position: relative;
  display: block;
  background: $verde-alba;
  width: 30px;
  height: 2px;
  top: 29px;
  left: 15px;
  transition: 0.5s ease-in-out;
}

.hamburguer:before,
.hamburguer:after {
  background: $verde-alba;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.5s ease-in-out;
}

.hamburguer:before {
  top: -10px;
}

.hamburguer:after {
  bottom: -10px;
}

input {
  display: none;
}

input:checked ~ label .hamburguer {
  transform: rotate(45deg);
}

input:checked ~ label .hamburguer:before {
  transform: rotate(90deg);
  top: 0;
}

input:checked ~ label .hamburguer:after {
  transform: rotate(90deg);
  bottom: 0;
}

@media only screen and (max-width: 768px) {
  header {
    .navbar-brand {
      margin-left: 1.7rem !important;
    }

    a {
      margin: 0 !important;
    }
    li:nth-child(2) {
      &::before {
        bottom: 85px !important;
        width: 25% !important;
        left: 37% !important;
      }
    }

    .nav-link {
      margin: 0.2rem 1.5rem !important;
    }

    .btn-orcamento {
      margin-top: 0.6rem;
    }

    .dropdown {
      flex-direction: column !important;
      justify-content: center;
    }

    .dropdown-menu {
      display: grid !important;
      grid-template-columns: 1fr 1fr !important;
      grid-area: 150px;
      border: none;
      border-radius: none;
      background-color: transparent;
      text-align: center;
      left: 0;

      .dropdown-item {
        padding: 0.4rem 0.5rem;
        color: $cinza-alba !important;
      }

      a:nth-child(3) {
        margin-left: 1rem;
      }
    }

    .icones{
      display: flex!important;
      margin-top: 2.125rem;
    
      a{
        text-decoration: none;

        .fab{

            color: $verde-alba;
            margin-left: 0.9375rem;
            margin-right: 0.9375rem;
        }
      } 
      
    }

    .menu {
      display: block !important;
      background: #fff;
      width: 60px;
      height: 60px;
      position: absolute;
      top: 5px;
      right: 10px;
    }

    .cx-itens {
      position: absolute;
      z-index: -1;
      min-height: 20px;
      top: 70px;
      text-align: center;
      right: -100%;
      transition: all 0.5s;
    }

    .cx-itens.show {
      position: absolute;
      background-color: #fff;
      width: 100%;
      min-height: 400px;
      z-index: -1;
      text-align: center;
      right: 0;
      opacity: 0.9;
    }
    .cx-itens {
      position: absolute;
      z-index: -1;
      min-height: 20px;
      top: 60px;
      text-align: center;
      right: -100%;
      transition: all 0.5s;
    }

    .cx-itens.show {
      position: absolute;
      background-color: #fff;
      top: 74px;
      width: 100%;
      min-height: 400px;
      z-index: -1;
      text-align: center;
      right: 0;
      opacity: 0.9;
    }
  }
}
