#banner{
   width: 100%;

    .carrousel-banner{

        .mask-img {
            display: block;
            max-width: 100%;
            height: 531px;
          }
          
          .object-mask {
            mask-image: url(../images/mask.svg);
            mask-repeat: no-repeat;
            mask-size: 100%;
            mask-position: center;
        }
        
        .image{
            position: relative;
            background-image: url('../images/banner.png');
            background-repeat: no-repeat center;
            background-size: cover;
            background-position: center ;
            height: 531px;
            margin-top: 1.3rem;
            width: 100%;
            // clip-path: polygon(50% 0%, 100% 0, 100% 80%, 92% 100%, 0 100%, 0 0);


            .text-banner{
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-wrap: wrap;
                
                h5{
                    position: absolute;
                    color: $amarelo-alba;
                    left: 5.8rem;
                    top: 6rem;
                    font-size: 1rem;
                    font-weight: bold;
                    text-transform: uppercase;
                }

                h1{
                    position: absolute;
                    font-size: 70px;
                    font-weight: lighter;
                    left: 5.6rem;
                    line-height: 90%;
                    top: 5.775rem;
                    max-width: 630px;
                    color: #ffffff;

                    span{
                        font-weight: bold;
                    }
                }

                .text-button{
                    position: absolute;
                    bottom: 4.5625rem;
                    left: 5.8rem;
                    display: flex;
                    align-items: center;

                    p{
                        font-size: 1.5rem;
                        color: #ffffff;
                        font-weight: bold;
                        max-width: 220px;
                    }

                    a{
                        text-decoration: none;
                        margin-left: 4rem;

                        .btn-banner{
                            display: flex;
                            align-items: center;
                            background-color: $amarelo-alba;
                            padding: 0 1.2rem;
                            width: 100%;
                            height: 47.16px;
                            text-align: center;
                            border-radius: 3px;
                            border: none;
                            font-size: 0.875rem;
                            color: $verde-alba;
                            letter-spacing: 3px;
                            text-transform: uppercase;
                            font-weight: 900;
                            margin-bottom: .6rem;
                        }

                        span{
                            img{
                                margin-left: .5rem;
                            }
                        }
                    }
                    
                }
            }
        }
    }
}

#solucoes{

    .session-solucoes{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        margin-top: 5.3125rem;
        margin-bottom: 5.625rem;

        h2{
            font-size: 2.5rem;
            color: $verde-alba;
            max-width: 210px;
            position: relative;
            line-height: 100%;

            &::before{
                content: "";
                position: absolute;
                width: 100%;
                height: 6px;
                background-color: $amarelo-alba;
                bottom: -10px;
                left: 3px;
            }
        }

        .text-solucoes{
            max-width: 595px;
            font-size: 1.125rem;
            color: $cinza-alba;
           
            p{
                margin-bottom: 0;
            }
        }

    }

    .session-card{
        h2{
            font-size: 1.375rem;
            color: $verde-alba;
            margin-left: 2rem;
            margin-bottom: 1.5rem;
        }

        .card{
            width: 248.17px;
            height: 278.21px;
            background-color: #ffffff;
            border-radius: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-bottom: 3rem;
            position: relative;
            box-shadow: 0px 4px 10px 6px rgba(0, 0, 10,0.1);

            

            .conteudo-card{

                
                p{
                    font-size: 1.4375rem;
                    color: $verde-alba;
                    font-weight: 500;
                    margin-top: 1rem;
                }
                
            }
        }
    }
}

#conheca{
    background-image: url('../images/banner-conheca.png');
    position: relative;
    width: 100%;
    max-width: 100%;
    padding-bottom: 28.75rem!important;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    margin-bottom: 40rem;

    .bg-banner{
        background-image: url('../images/bg-conheca.png');
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
        width: 100%;
        height: 673px;
        position: absolute;
        margin-top: 21rem;

        .session-conheca{
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;


            h3{
                font-size: 1rem;
                font-weight: 700;
                color: $amarelo-alba;
                text-transform: uppercase;
                margin-top: 4.375rem;
                letter-spacing: 3.5px;
            }

            h2{
                font-size: 4.375rem;
                color: #ffffff;
                max-width: 600px;
                line-height: 100%;
                margin-top: 1.7rem;
                font-weight: bold;
                margin-bottom: 3.125rem;
            }

            p{
                color: #ffffff;
                font-size: 1.375rem;
                max-width: 530px;
            }

            .text-button{
                display: flex;
                align-items: center;
                margin-top: 5.5rem;

                .text{
                    font-size: 1.375rem;
                    color: #ffffff;
                    font-weight: bold;
                    max-width: 300px;
                }

                a{
                    text-decoration: none;
                    text-align: center;
                    margin-bottom: 1.5rem;

                    .btn-conheca{
                        color: $verde-alba;
                        font-size: 0.875rem;
                        text-transform: uppercase;
                        letter-spacing: 3px;
                        background-color: $amarelo-alba;
                        border: none;
                        border-radius: 3px;
                        height: 39.16px;
                        width: 256.12px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: 900;
                        
                        span{
                            margin-left: .5rem;
                        }
                    }
                }
            }
        }

    }
}

#experiencia{
    background-image: url('../images/banner-experiencia.png');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 100%;
    padding-bottom: 7rem!important;
    margin-bottom: 16.1875rem;

    h2{
        color: #ffffff;
        font-size: 4.375rem;
        font-weight: 300;
        margin-top: 9rem;
        max-width: 1050px;
        margin-left: .8rem;
        line-height: 110%;
    }

    .session-experiencia{
        display: flex;
        margin-top: 8.75rem;

        .projetos, .mes, .toneladas, .economia{
            font-size: 5.625rem;
            color: $amarelo-alba;
            font-weight: 100;
            line-height: 60%;
            
        }

        .projetos-m, .mes-m, .economia-m{
            font-size: 1rem;
            color: #ffffff;
            font-weight: 300;
            margin-bottom: 2.6825rem;
        }

        .toneladas-m{
            font-size: 1rem;
            color: #ffffff;
            font-weight: 300;
            max-width: 170px;
        }


        .text-button{
            
            .text{
                font-size: 1.25rem;
                color: #ffffff;
                max-width: 237px;
                position: relative;
                line-height: 140%;

                &::before{
                    content: '';
                    background-color: $amarelo-alba;
                    width: 63px;
                    height: 4px;
                    position: absolute;
                    top: -17px;
                }
            }

            a{
                text-decoration: none;

                .btn-experiencia{
                    background-color: $amarelo-alba;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $verde-alba;
                    border: none;
                    border-radius: 3px;
                    width: 174.5px;
                    height: 39.16px;
                    font-weight: 900;
                    text-transform: uppercase; 
                    letter-spacing: 3px;
                    margin-top: 3rem;
                }

                .seta{
                    margin-left: .7rem;
                }
            }
            
        }

    }
}

#blog{
    background-image: url('../images/bg-cinza.png');
    width: 100%;
    max-width: 100%;
    padding-bottom: 5rem!important;

    h2{
        color: $verde-alba;
        text-align: center;
        font-size: 2.5rem;
        position: relative;
        margin-top: 6.2135rem;

        &::before{
            content: '';
            width: 30%;
            height: 5px;
            background-color: $amarelo-alba;
            bottom: -12px;
            position: absolute;
        }
    }

    .session-blog{

        .carroussel-blog{
            margin-top: 3.4375rem;
            .slick-initialized, .slick-slide{
                display: flex;
                justify-content: center;
            }

            // .slick-list{
            //     overflow: inherit;
            // }

            .card{
                border-radius: 15px!important;
                width: 19.2475rem;
                position: relative;
                border: none;
                box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.5);

                .text-card{
                    position: absolute;
                    font-size: 0.75rem;
                    color: $verde-alba;
                    top: 6px;
                    left: 7px;
                    max-width: 30px;
                    text-align: center;
                    line-height: 120%;
                    text-transform: uppercase;

                    span{
                        font-weight: 900;
                    }
                }

                &::before{
                    content: '';
                    width: 47px;
                    height: 42px;
                    background-color: #ffffff;
                    position: absolute;
                    border-top-left-radius: 15px;
                    border-bottom-right-radius: 15px;

                }

                .card-body{
                    text-align: center;

                    .card-text{
                        font-size: 1rem;
                        color: $cinza-alba;
                        font-weight: 500;
                    }
                }
            }
        }
    }

    .button-blog{
        display: flex;
        justify-content: center;

        a{
            text-decoration: none;

            .btn-blog{
                background-color: $amarelo-alba;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $verde-alba;
                border: none;
                border-radius: 3px;
                width: 240.97px;
                height: 39.16px;
                font-weight: 900;
                text-transform: uppercase; 
                letter-spacing: 3px;
                margin-top: 3rem;
            }

            .seta{
                margin-left: .7rem;
            }
        }
    }
}

#simule{
    width: 100%;
    max-width: 100%;

    h2{
        color: $verde-alba;
        text-align: center;
        font-size: 2.5rem;
        position: relative;
        margin-top: 4.8125rem;

        &::before{
            content: '';
            width: 34%;
            height: 5px;
            background-color: $amarelo-alba;
            bottom: -12px;
            position: absolute;
        }
    }

    .session-simule{


        .text-simule{
            display: flex;
            justify-content: center;
            margin-top: 2.875rem;
            margin-bottom: 4.6875rem;

            .text{
                font-size: 1.125rem;
                font-weight: 300;
                color: $cinza-alba;
                max-width: 350px;
                text-align: center;
            }
        }

        .formulario{
            display: flex;
            justify-content: center;
        }
    }
}