#banner {
  width: 100%;

  .carrousel-banner {
    .mask-img {
      display: block;
      max-width: 100%;
      height: 531px;
    }

    .object-mask {
      mask-image: url(../images/mask.svg);
      mask-repeat: no-repeat;
      mask-size: 100%;
      mask-position: center;
    }

    .image {
      position: relative;
      background-image: url("../images/banner.png");
      background-repeat: no-repeat center;
      background-size: cover;
      background-position: center;
      height: 531px;
      margin-top: 1.3rem;
      width: 100%;
      // clip-path: polygon(50% 0%, 100% 0, 100% 80%, 92% 100%, 0 100%, 0 0);

      .text-banner {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;

        h5 {
          position: absolute;
          color: $amarelo-alba;
          left: 5.8rem;
          top: 6rem;
          font-size: 1rem;
          font-weight: bold;
          text-transform: uppercase;
        }

        h1 {
          position: absolute;
          font-size: 70px;
          font-weight: lighter;
          left: 5.6rem;
          line-height: 90%;
          top: 5.775rem;
          max-width: 630px;
          color: #ffffff;

          span {
            font-weight: bold;
          }
        }

        .text-button {
          position: absolute;
          bottom: 4.5625rem;
          left: 5.8rem;
          display: flex;
          align-items: center;

          p {
            font-size: 1.5rem;
            color: #ffffff;
            font-weight: bold;
            max-width: 220px;
          }

          a {
            text-decoration: none;
            margin-left: 4rem;

            .btn-banner {
              display: flex;
              align-items: center;
              background-color: $amarelo-alba;
              padding: 0 1.2rem;
              width: 100%;
              height: 47.16px;
              text-align: center;
              border-radius: 3px;
              border: none;
              font-size: 0.875rem;
              color: $verde-alba;
              letter-spacing: 3px;
              text-transform: uppercase;
              font-weight: 900;
              margin-bottom: 0.6rem;
              box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.5);
            }

            span {
              img {
                margin-left: 0.5rem;
              }
            }
          }
        }
      }
    }
  }
}

#solucoes {
    width: 100%;
    margin: 0 auto;

    .session-solucoes {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        margin-top: 5.3125rem;
        margin-bottom: 5.625rem;

        h2 {
        font-size: 2.5rem;
        color: $verde-alba;
        max-width: 210px;
        position: relative;
        line-height: 100%;

            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 6px;
                background-color: $amarelo-alba;
                bottom: -10px;
                left: 3px;
            }
        }

        .text-solucoes {
            max-width: 595px;
            font-size: 1.125rem;
            color: $cinza-alba;

            p {
                margin-bottom: 1rem;
            }
        }
    }

    h2 {
        font-size: 1.375rem;
        color: $verde-alba;
        margin-left: 2rem;
        margin-bottom: 1.5rem;
    }

    .session-card {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .col-md-6{
            padding-right: 0!important;
            padding-left: 0!important;
        }

        .session-card-position{
            display: flex;

            .card {
                width: 44.5%;
                min-height: 278.21px;
                border-radius: 20px;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                filter: grayscale(100%);
                opacity: 0.5;
                margin: 0 auto 3.375rem auto;
                
                    
                &:hover{
                    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
                    background-image: linear-gradient(135deg, #ffffff 81.5%, $verde-alba 20%);
                    transition: all .3s ease-in-out;
                    top: -2px;
                    filter: grayscale(0%);
                    opacity: 1;
                }
    
                .seta{
                    position: absolute;
                    bottom: 14px;
                    right: 14px;
                }
    
                .imagem{
                    position: absolute;
                    top: 0;
                    left: -2px;
                }
    
                    
                .conteudo-card{
                    position: absolute;
                    
                    p {
                        font-size: 1.4375rem;
                        color: $verde-alba;
                        font-weight: 400;
                        margin-top: 1rem;
                    }
                }
    
            }
        }

        .button-card{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 5.3125rem;

            a{
                text-decoration: none;

                .btn-card{
                    display: flex;
                    align-items: center;
                    background-color: $amarelo-alba;
                    padding: 0 1.2rem;
                    width: 100%;
                    height: 39.16px;
                    text-align: center;
                    border-radius: 3px;
                    border: none;
                    font-size: 0.875rem;
                    color: $verde-alba;
                    letter-spacing: 3px;
                    text-transform: uppercase;
                    font-weight: 900;
                    margin-bottom: 0.6rem;
                    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.5);
                }

                .seta{
                    margin-left: .7rem;
                }
            }
        }
    }
}

#conheca {
  background-image: url("../images/banner-conheca.png");
  position: relative;
  width: 100%;
  max-width: 100%;
  padding-bottom: 28rem !important;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  margin-bottom: 35rem;

  .bg-banner {
    background-image: url("../images/bg-conheca.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    width: 100%;
    height: 673px;
    position: absolute;
    margin-top: 21rem;

    .session-conheca {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;

      h3 {
        font-size: 1rem;
        font-weight: 700;
        color: $amarelo-alba;
        text-transform: uppercase;
        margin-top: 4.375rem;
        letter-spacing: 3.5px;
      }

      h2 {
        font-size: 4.375rem;
        color: #ffffff;
        max-width: 600px;
        line-height: 100%;
        margin-top: 1.7rem;
        font-weight: bold;
        margin-bottom: 3.125rem;
      }

      p {
        color: #ffffff;
        font-size: 1.375rem;
        max-width: 530px;
      }

      .text-button {
        display: flex;
        align-items: center;
        margin-top: 5.5rem;

        .text {
          font-size: 1.375rem;
          color: #ffffff;
          font-weight: bold;
          max-width: 300px;
        }

        a {
          text-decoration: none;
          text-align: center;
          margin-bottom: 1.5rem;

          .btn-conheca {
            color: $verde-alba;
            font-size: 0.875rem;
            text-transform: uppercase;
            letter-spacing: 3px;
            background-color: $amarelo-alba;
            border: none;
            border-radius: 3px;
            height: 39.16px;
            width: 256.12px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 900;
            box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.5);

            span {
              margin-left: 0.5rem;
            }
          }
        }
      }
    }
  }
}

#video{
    width: 100%;
    margin-bottom: -.5rem;

    .session-video{
        position: relative;
        video{
            width: 100%;
            height: 100%;
            
        }
        
        .btn-play{
            

            .bg-play{
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                align-items: center;
                background-color: $verde-alba;
                width: 95.31px;
                height: 95.31px;
                overflow: hidden;
                top: 50%;
                left: 50%;
                background-position: center center;
                border-radius: 100%;
                transform: translate(-50%, -50%);

                span{
                    position: absolute;
                    left: 35px;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 20.46px 0 20.46px 32.58px;
                    border-color: transparent transparent transparent #ffffff;
                }
            }
        }
        
    }
}

#experiencia {
  background-image: url("../images/banner-experiencia.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 100%;
  padding-bottom: 7rem !important;
  margin-bottom: 16.1875rem;

  h2 {
    color: #ffffff;
    font-size: 4.375rem;
    font-weight: 300;
    margin-top: 9rem;
    max-width: 1050px;
    margin-left: 0.8rem;
    line-height: 110%;
  }

  .session-experiencia {
    display: flex;
    margin-top: 8.75rem;
    flex-wrap: wrap;

    .experiencia-left{
      display: flex;
      flex-wrap: wrap;

      .projetos,
      .mes,
      .toneladas,
      .economia {
        font-size: 5.625rem;
        color: $amarelo-alba;
        font-weight: 100;
        line-height: 60%;
      }
      
      .projetos,
      .projetos-m,
      .mes,
      .mes-m{
        margin-right: 7.1875rem;;
      }

      .toneladas,
      .toneladas-m{
        margin-left: 3rem;
      }
  
      .projetos-m,
      .mes-m,
      .economia-m {
        font-size: 1rem;
        color: #ffffff;
        font-weight: 300;
        margin-bottom: 2.6825rem;
      }
  
      .toneladas-m {
        font-size: 1rem;
        color: #ffffff;
        font-weight: 300;
        max-width: 170px;
      }
    }

    .text-button {
      .text {
        font-size: 1.25rem;
        color: #ffffff;
        max-width: 237px;
        position: relative;
        line-height: 140%;

        &::before {
          content: "";
          background-color: $amarelo-alba;
          width: 63px;
          height: 4px;
          position: absolute;
          top: -17px;
        }
      }

      a {
        text-decoration: none;

        .btn-experiencia {
          background-color: $amarelo-alba;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $verde-alba;
          border: none;
          border-radius: 3px;
          width: 174.5px;
          height: 39.16px;
          font-weight: 900;
          text-transform: uppercase;
          letter-spacing: 3px;
          margin-top: 3rem;
          box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.5);
        }

        .seta {
          margin-left: 0.7rem;
        }
      }
    }
  }
}

#blog {
  background-image: url("../images/bg-cinza.png");
  width: 100%;
  max-width: 100%;
  padding-bottom: 5rem !important;

  h2 {
    color: $verde-alba;
    text-align: center;
    font-size: 2.5rem;
    position: relative;
    margin-top: 6.2135rem;

    &::before {
      content: "";
      width: 30%;
      height: 5px;
      background-color: $amarelo-alba;
      bottom: -12px;
      position: absolute;
    }
  }

  .session-blog {
    .carroussel-blog {
      margin-top: 3.4375rem;
      .slick-initialized,
      .slick-slide {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }

      .card {
        border-radius: 15px !important;
        width: 19.2475rem;
        position: relative;
        border: none;
        box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);

        .text-card {
          position: absolute;
          font-size: 0.75rem;
          color: $verde-alba;
          top: 6px;
          left: 7px;
          max-width: 30px;
          text-align: center;
          line-height: 120%;
          text-transform: uppercase;

          span {
            font-weight: 900;
          }
        }

        &::before {
          content: "";
          width: 47px;
          height: 42px;
          background-color: #ffffff;
          position: absolute;
          border-top-left-radius: 15px;
          border-bottom-right-radius: 15px;
        }

        .card-body {
          text-align: center;
          min-height: 7.265rem;

          .card-text {
            font-size: 1rem;
            color: $cinza-alba;
            font-weight: 500;
          }
        }
      }
    }
  }

  .button-blog {
    display: flex;
    justify-content: center;

    a {
      text-decoration: none;

      .btn-blog {
        background-color: $amarelo-alba;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $verde-alba;
        border: none;
        border-radius: 3px;
        width: 240.97px;
        height: 39.16px;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin-top: 3rem;
        box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.5);
      }

      .seta {
        margin-left: 0.7rem;
      }
    }
  }
}

#simule {
  width: 100%;
  max-width: 100%;
  position: relative;

  h2 {
    color: $verde-alba;
    text-align: center;
    font-size: 2.5rem;
    position: relative;
    margin-top: 4.8125rem;

    &::before {
      content: "";
      width: 34%;
      height: 5px;
      background-color: $amarelo-alba;
      bottom: -12px;
      position: absolute;
    }
  }

  .lista {
    position: absolute;
    top: 5.3125rem;
    right: 8.25rem;

    ul {
      list-style-type: none;
      display: flex;

      li {
        margin: 0 0.5rem;

        .circulo {
          border-radius: 100%;
          border: 1px solid $verde-alba;
          width: 33px;
          height: 33px;
          text-align: center;
          font-size: 1.375rem;
          color: $verde-alba;
          font-weight: 700;
        }
      }
    }
  }

  .session-simule {
    .text-simule {
      display: flex;
      justify-content: center;
      margin-top: 2.875rem;
      margin-bottom: 4.6875rem;

      .text {
        font-size: 1.125rem;
        font-weight: 300;
        color: $cinza-alba;
        max-width: 350px;
        text-align: center;
      }
    }

    .formulario {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      .form-simule-left {
        margin-left: 3rem;
      }

      .form-simule,
      .form-simule-left {
        width: 406.69px;
        margin-bottom: 2.3125rem;
        background-color: #00808f;
        border-radius: 6px;
        
        input{
            border: none;
        }

        .form-control {
          opacity: 0.9;
        }

        #custom-select {
            -webkit-appearance: none; /* Remove estilo padrão do Chrome */
            -moz-appearance: none; /* Remove estilo padrão do FireFox */
            appearance: none; /* Remove estilo padrão do FireFox*/
            background: url(../images/seta-select.png)no-repeat #ffffff; /* Imagem de fundo (Seta) */
            background-position: 95% center; /*Posição da imagem do background*/
            width: 100%; /* Tamanho do select, maior que o tamanho da div "div-select" */
            height: 100%; /* Altura do select, importante para que tenha a mesma altura em todo os navegadores */
            border: none;

            option{
                background-color: $verde-alba;
                color: #ffffff;
            }
    
        }

      }

      select,
      input::placeholder {
        color: $verde-alba;
        text-transform: uppercase;
        font-size: 0.625rem;
        height: 100%;
      }

      .button-form {
        display: flex;
        justify-content: center;
        margin-top: 0.5rem;
        margin-bottom: 5.9375rem;

        a {
          text-decoration: none;

          .btn-proximo {
            background-color: $amarelo-alba;
            color: $verde-alba;
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            border: none;
            border-radius: 3px;
            font-weight: 900;
            width: 145.17px;
            height: 39.16px;
            box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.5);
          }
        }
      }
    }
  }
}

@media screen and (max-width:768px) {

  #banner{
    .mask-img {
      height: 327px!important;
    }

    .object-mask {
      mask-image: url(../images/home/mask-mobile.svg)!important;
    }

    .image {
      background-image: url("../images/home/banner-mobile.png")!important;
      height: 327px!important;
      margin: 0 auto!important;

      .text-banner {
        h5 {
          left: 1.25rem!important;
          top: 2rem!important;
        }

        h1 {
          font-size: 30px!important;
          left: 1.25rem!important;
          line-height: 90%;
          top: 2rem;
          max-width: 270px!important;
        }

        .text-button {
          position: absolute;
          bottom: 4.5625rem;
          left: 1.25rem!important;
          display: flex;
          align-items: center;
          flex-wrap: wrap;

          p {
            font-size: 1rem!important;
            color: #ffffff;
            font-weight: bold;
            max-width: 220px;
          }

          a {
            text-decoration: none;
            margin-left: 4rem;

            .btn-banner {
              display: flex;
              align-items: center;
              background-color: $amarelo-alba;
              padding: 0 1.2rem;
              width: 100%;
              height: 47.16px;
              text-align: center;
              border-radius: 3px;
              border: none;
              font-size: 0.875rem;
              color: $verde-alba;
              letter-spacing: 3px;
              text-transform: uppercase;
              font-weight: 900;
              margin-bottom: 0.6rem;
              box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.5);
            }

            span {
              img {
                margin-left: 0.5rem;
              }
            }
          }
        }
      }
    }
  }
  
  #solucoes {
    
    .session-solucoes {
        display: flex;
        flex-wrap: wrap;
        align-items: center!important;
        margin-top: 3.375rem;
        margin-bottom: 5.625rem;

        h2 {
        font-size: 1.875rem;
        text-align: center;
        margin: 0 auto;
        }

        .text-solucoes {
          
            text-align: center;
            margin: 2rem auto;

            p {
                margin-bottom: 1rem;
            }
        }
    }

    h2 {
        text-align: center;
    }

    .session-card {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        .col-md-6{
            padding-right: 0!important;
            padding-left: 0!important;
        }

        .session-card-position{
            display: flex;

            .card {
                width: 50%!important;
                min-height: 169.46px;
                justify-content: center;
                align-items: center;
                text-align: center;
                filter: grayscale(100%);
                opacity: 0.5;
                margin: 0 auto 3.375rem auto;
                
                    
                &:hover{
                    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
                    background-image: linear-gradient(135deg, #ffffff 81.5%, $verde-alba 20%);
                    transition: all .3s ease-in-out;
                    top: -2px;
                    filter: grayscale(0%);
                    opacity: 1;
                }
    
                .seta{
                    position: absolute;
                    bottom: 14px;
                    right: 14px;
                }
    
                .imagem{
                    position: absolute;
                    top: -109px;
                    left: -84px;
                }
    
                    
                .conteudo-card{
                    position: absolute;
                    
                    p {
                        font-size: 1.4375rem;
                        color: $verde-alba;
                        font-weight: 400;
                        margin-top: 1rem;
                    }
                }
    
            }
        }

        .button-card{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 5.3125rem;

            a{
                text-decoration: none;

                .btn-card{
                    display: flex;
                    align-items: center;
                    background-color: $amarelo-alba;
                    padding: 0 1.2rem;
                    width: 100%;
                    height: 39.16px;
                    text-align: center;
                    border-radius: 3px;
                    border: none;
                    font-size: 0.875rem;
                    color: $verde-alba;
                    letter-spacing: 3px;
                    text-transform: uppercase;
                    font-weight: 900;
                    margin-bottom: 0.6rem;
                    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.5);
                }

                .seta{
                    margin-left: .7rem;
                }
            }
        }
    }
  }

  #conheca {
    background-image: url("../images/home/banner-conheca-mobile.png");
    padding-bottom: 8rem !important;
    margin-bottom: 23.7rem;
  
    .bg-banner {
      background-image: url("../images/home/bg-conheca-mobile.png");
      height: 413px;
      margin-top: 5.9rem;
  
      .session-conheca {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
  
        h3 {
          font-size: 1rem;
          text-align: center;
          margin-top: 2rem;
        }
  
        h2 {
          font-size: 1.875rem;
          text-align: center;
          margin-bottom: 1.5625rem;
        }
  
        p {
          text-align: center;

          font-size: 1rem;
        }
  
        .text-button {
          flex-wrap: wrap;
          margin-top: 1rem;
          align-items: center;
          justify-content: center;
  
          .text {
            font-size: 1rem;
          }
        }
      }
    }
  }

  #experiencia {
    background-image: url("../images/home/banner-experiencia-mobile.png");
    padding-bottom: 2rem !important;
    margin-bottom: 5.1875rem;
  
    h2 {
      font-size: 1.875rem;
      text-align: center;
      margin-top: 1rem;
      max-width: 290px;
    }
  
    .session-experiencia {
      display: flex;
      margin-top: 2rem;
      flex-wrap: wrap;
  
      .experiencia-left{
       align-items: center;
       justify-content: flex-start;
  
        .projetos,
        .mes,
        .toneladas,
        .economia {
          font-size: 2.5rem;
          text-align: center;
        }
        
        .projetos,
        .projetos-m,
        .mes,
        .mes-m{
          margin-right: 2.5rem;
        }

        .mes,
        .mes-m{
          margin-left: -1rem;
        }
  
        .toneladas,
        .toneladas-m{
          margin-left: -2.8rem;
          text-align: center;
        }
    
        .projetos-m,
        .mes-m,
        .economia-m {
          margin-bottom: .5rem;
          max-width: 150px;
          text-align: center;
        }
    
        .toneladas-m {
          margin-top: .5rem;
        }
      }
  
      .text-button {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;

        .text {
          font-size: 1rem;
          max-width: 280px;
  
          &::before {
            display: none;
          }
        }
  
        a {
  
          .btn-experiencia {
            width: 154px;
            height: 44px;
            margin-top: 0rem;
          }
        }
      }
    }
  }

  #blog {
    padding-bottom: 3rem !important;
  
    h2 {
      font-size: 1.875rem;
      margin-top: 3rem;
  
      &::before {
        width: 77%;
      }
    }
  
    .session-blog {
      .carroussel-blog {
        margin-top: 1rem;
        }
      }
  
    .button-blog {
  
      a {
  
        .btn-blog {
          margin-top: 0rem;
        }
      }
    }
  }

  #simule {
  
    h2 {
      font-size: 1.875rem;
      margin-top: 3rem;
  
      &::before {
        width: 87%;
      }
    }
  
    .lista {
      display: none;
    }
  
    .session-simule {
      .text-simule {
        margin-top: 1.25rem;
        margin-bottom: .5rem;
  
        .text {
          font-size: 1rem;
          max-width: 270px;
        }
      }
  
      .formulario {

        .form-simule-left {
          margin-left: 0;
        }
  
        .form-simule,
        .form-simule-left {
          width: 278px!important;
          margin-bottom: 2.3125rem;
          border-radius: 6px;
          margin-left: 3rem;
  
          #custom-select {
              height: 43px; /* Altura do select, importante para que tenha a mesma altura em todo os navegadores */
          }
  
        }
  
        .button-form {
          display: flex;
          justify-content: center;
          margin-top: 0.5rem;
          margin-bottom: 0;
  
          a {
            .btn-proximo {
              width: 180px;
              height: 44px;
            }
          }
        }
      }
    }
  }
}
