#banner-segmentos {
    .caixa-banner {
        margin-top: 70px;
        position: relative;

        img {
            width: 100%;
            height: auto;
        }

        .titulo-ban-segmentos {
            position: absolute;
            top: 90px;
            left: 75px;
            font-size: 40px;
            color: $amarelo-alba;
        }

        .subtitulo-ban-segmentos {
            position: absolute;
            top: 150px;
            left: 75px;
            font-size: 22px;
            font-weight: bold;
            color: #FFF;
        }
    }
}

#especialista {
    background-color: #F6F7F8;
    padding-bottom: 60px;

    .container {
        max-width: 95%;

        .titulo-especialista {
            color: #00808F;
            font-size: 40px;
            font-weight: bold;
            padding: 60px 0 5px;
            width: 39%;
            margin-left: 0 !important;
        }
        #qual-setor {

            padding-top: 60px;

            label {
                font-size: 16px;
                font-weight: bold;
                color: $verde-alba;
            }

            #setor {
                border-radius: 5px;
                -webkit-appearance:none;
                background-image: url(/src/assets/images/segmentos/arrow-down.png);
                background-repeat: no-repeat;
                background-position: 160px;
                background-color: #F6F7F8;
                width: 185px;
                height: 45px;
                text-indent: 50px;
                color: $verde-alba;
            }
        }
        .row.setor {
            opacity: 0;
            height: 0;
            overflow: hidden;
            transition: all .5s;
        }
        .row.setor.active {
            display: flex;
            height: auto;
            overflow: visible;
            opacity: 1;
            .caixa-pq {
                width: 375px;
                height: 450px;
                background-color: #FFF;
                padding: 55px 18px;
                margin: 40px auto;

                .titulo-pq {
                    color: $verde-alba;
                    font-size: 28px;
                    font-weight: bold;
                    margin-left: 0 !important;
                }

                .titulo-pq::before {
                    content: none !important;
                }

                p {
                    color: $cinza-alba;
                }
                .vant {
                    font-weight: 400;
                    color: $amarelo-alba;
                }

                .caixa-icon {
                    color: $verde-alba;

                    .icon-especialidade {
                        float: left;
                        font-weight: bold;
                    }

                    .icon-tomada {
                        float: right;
                        font-weight: bold;
                    }
                }
            }

            .caixa-imagem {
                position: relative;
                margin-top: 40px;
                img {
                    position: absolute;
                    right: -90px;
                    top: 0;
                }
            }
        }
    }
}

#projetos {

    background-color: #F6F7F8;

    .container {
        max-width: 95%;
        padding-top: 30px;
        padding-bottom: 30px;

        .titulo-projetos {
            color: $verde-alba;
            font-size: 40px;
            border-bottom: 6px solid $amarelo-alba;
            width: 76%;
            margin-bottom: 10px;
            margin-left: none !important;
        }
        
        .row {
            padding-top: 30px;
            padding-bottom: 30px;
            margin-right: 0;
            margin-left: 0;
            justify-content: space-between;

            .caixa-projeto {

                height: 355px;
                background-color: #FFF;
                border-radius: 20px;
                box-shadow: 0px 0px 10px $cinza-alba;

                .area-texto {
                    background-color: #fff;
                    padding: 10px 30px;
                    
                    .city-project {
                        margin: 0;
                        font-size: 14px;
                        color: $cinza-alba;
                    }

                    .setor-projeto {
                        margin: 0;
                        font-size: 18px;
                        font-weight: bold;
                        color: $verde-alba;
                    }
                }
                .energia-paineis {
                    background-color: #FFF;
                    padding: 0 20px;
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
        .btn-vermais {
            width: 170px;
            height: 47px;
            font-size: 14px;
            color: $verde-alba;
            border: 0;
            border-radius: 5px;
            background-color: $amarelo-alba;
        }
    }
}

#mais-sobre {
    background-color: #FFF;
    width: 100%;
    max-width: 100%;
    padding-bottom: 5rem !important;
  
    h2 {
      color: $verde-alba;
      text-align: center;
      font-size: 2.5rem;
      position: relative;
      margin-top: 6.2135rem;
  
      &::before {
        content: "";
        width: 73%;
        height: 5px;
        background-color: $amarelo-alba;
        bottom: -12px;
        position: absolute;
      }
    }
  
    .session-sobre {
      .carroussel-sobre {
        margin-top: 3.4375rem;
        .slick-initialized,
        .slick-slide {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
        }
  
        .card {
          border-radius: 15px !important;
          width: 19.2475rem;
          position: relative;
          border: none;
          box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
  
          .text-card {
            position: absolute;
            font-size: 0.75rem;
            color: $verde-alba;
            top: 6px;
            left: 7px;
            max-width: 30px;
            text-align: center;
            line-height: 120%;
            text-transform: uppercase;
  
            span {
              font-weight: 900;
            }
          }
  
          &::before {
            content: "";
            width: 47px;
            height: 42px;
            background-color: #ffffff;
            position: absolute;
            border-top-left-radius: 15px;
            border-bottom-right-radius: 15px;
          }
  
          .card-body {
            text-align: center;
            min-height: 7.265rem;
  
            .card-text {
              font-size: 1rem;
              color: $cinza-alba;
              font-weight: 500;
            }
          }
        }
      }
    }  
}

#conversar {
    background-color: $verde-alba;

    .container {
        padding: 40px;

        h2 {
            color: #FFF;
            font-weight: bold;
            font-size: 40px;
            width: 100%;
        } 

        .col-md-6 {
            padding: 0;

            .col-sm-6.caixa-email-tel {
                float: left;
                color: #FFF;
                padding: 0;

                .caixa-email {
                    margin: 0 auto;
                    width: 100%;

                    i.far.fa-envelope {
                        float: left;
                        height: 60px;
                        padding: 10px 10px 0 0px;
                        font-size: 40px;
                    }
                    .m1 {
                        float: left;
                        margin: 15px 0 0 0;
                        font-weight: 300;
                    }
                    .end-mail {
                        float: left;
                        margin: 0;
                        font-weight: 300;
                    }
                }
            }

            .col-sm-6.caixa-telefone {
                float: right;
                color: #FFF;
                padding: 0;

                .caixa-tel-links {
                    margin: 0 auto;
                    width: 100%;

                    i.fas.fa-phone-alt {
                        float: left;
                        height: 60px;
                        padding: 20px 10px 0 0;
                        font-size: 30px;
                    }
                    .contact-tel {
                        float: left;
                        margin: 15px 0 0 0;
                        font-weight: 300;
                    }
                    .contact-num {
                        float: left;
                        margin: 0;
                        font-weight: 300;
                    }
                }
            }
        }

        .col-md-6.caixa-whats {

            text-align: center;

            .btn-ligue-agora {
                width: 367px;
                height: 47px;
                border: 0;
                border-radius: 5px;
                background-color: $amarelo-alba;
                color: $verde-alba;
                font-weight: 300;
                margin: 15px auto;

                i.fas.fa-phone-alt {
                    position: relative;
                    left: -55px;
                }

                i.fas.fa-arrow-right {
                    position: relative;
                    right: -55px;
                }
            }

            .btn-whats {
                width: 367px;
                height: 47px;
                border: 0;
                border-radius: 5px;
                background-color: $amarelo-alba;
                color: $verde-alba;
                font-weight: 300;
                margin: 15px auto;

                i.fab.fa-whatsapp {
                    position: relative;
                    left: -55px;
                }

                i.fas.fa-arrow-right {
                    position: relative;
                    right: -55px;
                }
            }
        }
    }
}