$verde-alba: #00808F;
$amarelo-alba: #FFD45E;
$cinza-alba: #7A8B99;

html, body{
    font-family: 'Sua Test';
    overflow-x: hidden;
    max-width: 100%;
}
  



@import 'normalize';
@import 'header';
@import 'footer';
@import 'index';
@import 'blog';
@import 'blog-sustentabilidade';
@import 'segmentos';
@import 'alba';
@import 'pratica';
@import 'orcamento';

