$verde-alba: #00808F;
$amarelo-alba: #FFD45E;
$cinza-alba: #7A8B99;

body{
    font-family: 'Sua Test';
    overflow-x: hidden;
}




@import 'normalize';
@import 'header';
@import 'footer';
@import 'index';

